.m-aboutPlanet {
  position: relative;
  perspective: 100px;
  perspective-origin: 2.5em 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // justify-content: center;
  font-size: $h5;
  letter-spacing: .01em;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background: var(--grey-concrete);
    transition: transform .35s cubic-bezier(0.65, 0, .075, 1);
    z-index: 9;
    opacity: 0;
  }

  svg {
    width: 15vw;
    max-width: 3.5em;
  }

  strong {
    font-size: $h5;
    font-weight: $regular;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    color: var(--blue-deep-space);

    @include anchor(var(--blue-deep-space), false);
  }

  &.-skills {
    margin-left: 20%;
  }
  &.-projects {
    flex-direction: row-reverse;
    perspective-origin: calc(100% - 2.5em) 50%;

    &::after {
      left: initial;
      right: 0;
    }
  }
  // &.-education {
  // }
  &.-active::after {
    opacity: 1;
    transform: translateZ(100px);
  }

  &:hover {
    strong {
      &::after {
        width: 100%;
      }
    }
  }
}