.m-contactInfo {
  width: 100%;
  max-width: 1920px;
  margin: -2px auto 0;
  padding: 0 $gutter;
  font-size: $h5;

  @include media('>small') {
    font-size: $h4;
  }

  .m-contactInfo__content {
    font-weight: $light;
  }
}