.a-content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 1em $gutter;

  h1 {
    font-size: $h4;

    @include media('>small') {
      font-size: $h3;
    }
  }

  h2 {
    font-size: $h5;
    margin-top: 1em;
    margin-bottom: .5em;

    @include media('>small') {
      font-size: $h4;
    }
  }

  b {
    font-weight: $bold;
  }
}